const secretConfig = {
  SECRET: 'Ну дуже секретне слово',
  SALT: 12,
  EXPIRED_INTERVAL: 30 * 24 * 3600 * 1000,
  MAX_SESSIONS: 5,
  SESSION_SECRET: 'Ще секретніше слово',
  SESSION_EXPIRES: 1 * 24 * 3600 * 1000,
};
module.exports = secretConfig;
