* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#main {
  display: flex;
  font-size: 1.6rem;
  padding: 1.5rem;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  background: #e9ecef;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
}

#main .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem !important;
  padding: 0.5rem 1rem;
  background: #2780e3;
  flex-grow: 0;
  border-bottom: 1px solid #e9ecef;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: calc(100% - 4.8rem);
  position: relative;
  background: white;
  color: #373a3c;
}

.left-side {
  display: flex;
  flex-direction: column;
  /* max-width: 40rem; */
  width: 30%;
  min-width: 32rem;
  flex-grow: 0;
  position: relative;

  background: white;
  color: #373a3c;
  border-right: 1px solid #e9ecef;
  transition: left 2s linear 0.1s;
  /* position: absolute;
  top: 0;
  left: -30rem; */
}

.room-list {
  flex-grow: 1;
  padding: 15px;
  overflow: auto;
  height: calc(100% - 4.8rem);
}

.contact-list {
  flex-grow: 1;
  padding: 15px;
  overflow: auto;
  height: calc(100% - 4.8rem);
}
@media (max-width: 768px) {
  .left-side {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 30%;

    background: white;
    color: #373a3c;
    border-right: 1px solid #e9ecef;
    box-shadow: 3px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: -45rem;
    overflow: hidden;
    z-index: 1000;
    height: 100%;
  }

  .left-side.active {
    left: 0;
  }
}
.room {
  padding: 15px;
  background: #e9ecef;
  margin-bottom: 8px;
  cursor: pointer;
}

.room.active {
  background: #2780e3;
  color: #fff;
}
.contact {
  padding: 15px;
  background: #e9ecef;
  margin-bottom: 8px;
  cursor: pointer;
}

.contact.active {
  background: #2780e3;
  color: #fff;
}

.chat-box-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-box {
  flex-grow: 1;
  background: white;
  color: #373a3c;
  height: 100%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 4.8rem !important;
  padding: 0.5rem 1rem;
  background: #2780e3;
}

.messages-container {
  flex-grow: 1;
  overflow: auto;
  height: calc(100% - 9.6rem);
}

.message-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.message {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: black;
  display: inline-block;
  max-width: 80%;
}

.message-text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.author {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.btn {
  background: none;
  color: #dee2e6;
  border: 1px solid #dee2e6;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin: 0 0.6rem;
}

.btn:hover {
  color: #fff;
  border: 1px solid #fff;
}
