* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

#main {
  display: flex;
  font-size: 1.6rem;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  background: #e9ecef;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif !important;
  position: relative;
}

#main .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.profile-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display:none;
}

.profile-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}



.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem !important;
  padding: 0.5rem 1rem;
  background: #00a36c;
  flex-grow: 0;
  border-bottom: 1px solid #e9ecef;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: calc(100% - 4.8rem);
  position: relative;
  background: white;
  color: #373a3c;
}
.toolbar.tool-bar {
  background-color: #00a36c !important;
  width: 100%;
}
#active-switch {
  display: none;
}
.left-side {
  display: flex;
  flex-direction: column;
  /* max-width: 40rem; */
  width: 30%;
  min-width: 32rem;
  flex-grow: 0;
  position: relative;

  background: white;
  color: #373a3c;
  border-right: 1px solid #e9ecef;
  transition: left 1s linear 0.1s;
  /* position: absolute;
  top: 0;
  left: -30rem; */
}

.room-list {
  flex-grow: 1;
  padding: 15px;
  overflow: auto;
  height: calc(100% - 4.8rem);
}

.contact-list {
  flex-grow: 1;
  padding: 15px;
  overflow: auto;
  height: calc(100% - 4.8rem);
}
.login {
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
  color: #373a3c;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  width: 42rem;
  font-size: 1.8rem;
  background: #ffffff;
  position: relative;
}
.card-header {
  padding: 1rem;
  text-align: center;
  background: #ffffff;
  margin-bottom: 1rem;
}
.card-title {
  font-size: 4.2rem;
  font-weight: 600 !important;
  color: #00a35c;
}
.card-body {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
}
.login-input {
  margin-bottom: 2rem;
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  border-radius: 0.5rem !important;
}
.card-footer {
  padding: 1rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 2rem 0.5rem 0 0.5rem;
  align-items: center;
}

@media (max-width: 768px) {
  .left-side {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: 30%;

    background: white;
    color: #373a3c;
    border-right: 1px solid #e9ecef;
    box-shadow: 3px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: -45rem;
    overflow: hidden;
    z-index: 1000;
    height: 100%;
  }

  .left-side.active {
    left: 0;
  }
  #active-switch {
    display: inline-block;
  }
  .profile-container {
    z-index: 1100;
  }
}
.room, .contact {
  padding: 8px;
  background: #e9ecef;
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.user-info {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.room.active, .contact.active {
  background: #00a36c;
  color: #fff;
}

.room img, .user-info img, .contact img {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.room p, .contact p, .user-info p {
  margin-left: 15px;
}

.chat-box-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-box {
  flex-grow: 1;
  background: white;
  color: #373a3c;
  height: 100%;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 4.8rem !important;
  padding: 0.5rem 1rem;
  background: #00a36c;
}

.messages-container {
  flex-grow: 1;
  overflow: auto;
  height: calc(100% - 9.6rem);
}

.message-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.message {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: black;
  display: inline-block;
  max-width: 80%;
}

.message-text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.author {
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #828282;
  letter-spacing: 0.3px;
}

.btn {
  background: none;
  color: #dee2e6;
  border: 1px solid #dee2e6;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin: 0 0.6rem;
}

.btn:hover {
  color: #fff;
  border: 1px solid #fff;
}

.login-input input {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
  background-color: #e1e1e1;
  color: #5d5d5d;
  padding: 1.2rem 1.8rem !important;
  border-radius: 0.5rem !important;
}
.login-input input:focus {
  border-bottom-color: #5d5d5d !important;
}
